/* Custom Scrollbar */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: rgb(205, 133, 63);
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: rgb(139, 0, 0);
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: rgb(85, 107, 47);
}

body {
    font-family: Apple Chancery, cursive;
    background-image: url(http://www.baltana.com/files/wallpapers-5/Vintage-Background-High-Definition-Wallpaper-16553.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

.parent {
    width: 90%;
    margin-left: 5%;
    overflow-x: hidden;
}

.website-title {
    position: absolute;
    top: 15%;
    left: 35%;
    font-size: 4vw;
    background-color: rgba(53, 53, 53, 0.65);
    color: white;
    padding: 30px;
}

table {
    border-collapse: collapse;
    width: 30%;
    margin: auto;
}

tr {
    border: 1px rgb(205, 133, 63) dotted;
    text-align: left;
}

tr:nth-child(even) {
    background-color: rgb(222, 184, 135);
}

tr:hover {
    background-color: rgb(205, 133, 63);
}

.navigation-bar-item {
    text-decoration: none;
    color: white;
    border-radius: 10px;
    padding: 5px;
    word-break: break-all;
}

.navigation-bar-item:hover {
    background-color: white;
    color: black;
}

.first-item {
    margin-left: 5px;
}

.last-item {
    margin-right: 5px;
}

.navigation-bar {
    width: 100%;
    /* border: 1px solid gray; */
    font-size: 1.5vw;
    text-align: center;
    position: sticky;
    z-index: 2;
    top: 1vh;
    background-color: rgba(53, 53, 53, 0.65);
    margin-top: -10vh;
    /* padding: 1vh 0; */
}


/* to remove list styel and bullet */

.navigation-bar ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.introducting-iran-text {
    margin-top: 3%;
}

.attractions-pic {
    width: 100%;
    height: 40vh;
    display: block;
    opacity: 1;
    transition: 0.5s ease;
}

.overlay {
    position: absolute;
    top: 3%;
    left: 5%;
    height: 100%;
    width: 90%;
    opacity: 0;
    transition: 0.5s ease;
}

.attractions-text {
    color: black;
    position: absolute;
    display: block;
    width: 100%;
}

.attraction-image-container {
    position: relative;
    width: 50%;
}

.attraction-image-container:hover .overlay {
    opacity: 1;
}

.attraction-image-container:hover .attractions-pic {
    opacity: 0.3;
}

.attraction-row-container {
    display: flex;
}

.inner-section {
    min-height: 90vh;
    margin-top: 6vh;
}


/* 
.section-video {
    margin-top: 5%;
} */

.festival-pic {
    width: 100%;
    height: 35vh;
}

.festival-text {
    font-size: 1vw;
}

.festival-item-container {
    /* background-color: rgb(222, 184, 135); */
    min-height: 30vh;
}

.festival-text-container {
    padding: 1px 10px;
}

.cuisine-pic-container {
    width: 100%;
    text-align: center;
}

.cuisine-name {
    text-align: center;
    color: rgb(139, 0, 0);
    font-size: 1vw;
}

.cuisine-text {
    font-size: 1vw;
    color: black;
    padding-right: 10px;
    padding-left: 10px;
}

.cuisine-recipe-button {
    text-align: center;
    cursor: pointer;
    color: rgb(139, 0, 0);
    background-color: rgb(222, 184, 135);
    border: none;
    padding: 8px;
    text-decoration: none;
    border-radius: 100px;
    font-weight: bold;
}

.cuisine-recipe-button:hover {
    background-color: rgb(139, 0, 0);
    color: rgb(222, 184, 135);
}

.handicrafts-container-pic {
    width: 100%;
    height: 50vh;
}

.cuisine-recipe-container {
    position: absolute;
    bottom: 10px;
    left: 20px;
}

.video {
    float: right;
    margin-left: 5%;
    width: 50%;
    margin-top: 5%;
}

.video-introduction-iframe {
    width: 100%;
    height: 55vh;
}

.section {
    margin-bottom: 2%;
    min-height: 100vh;
    border: 1px solid rgba(175, 174, 174, 0.0);
}

.attractions-text {
    font-size: 1vw;
}

.festival-text {
    margin-top: 5%;
}

.festival-image-container-left {
    float: left;
    width: 25%;
}

.festival-image-container-right {
    float: right;
    width: 25%;
}

.festival-text-container-right {
    width: 74%;
    margin-left: 25%;
}

.festival-text-container-left {
    width: 75%;
}

.cuisine-column {
    width: 90%;
    height: 90vh;
    padding: 5px;
    position: relative;
    box-shadow: 10px 10px 10px rgb(222, 184, 135);
}

.cuisine-column-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem 1rem;
}

.cuisine-pic {
    max-width: 70%;
    height: 40vh;
    border-radius: 1200px;
    margin-top: 5px;
}

.handicrafts-container {
    position: relative;
    width: 30%;
    float: left;
    margin-right: 25px;
    margin-left: 26px;
    margin-bottom: 30px;
}

.handicrafts-text {
    position: absolute;
    /* position the backgraound text */
    bottom: 5px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    font-size: 1.2vw;
    padding: 10px 0;
    width: 100%;
}

.topics {
    padding-top: 15px;
    text-align: center;
    font-size: 3vw;
    color: rgb(139, 0, 0);
}

.header-pic {
    width: 100%;
    height: 100vh;
}